
/* Modify Bootstrap */
//custom variables

$primary: #2d3160;
$dh-gray-light: #e6e6e6;
$font-family-sans-serif: Montserrat, -apple-system, "Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$theme-colors: (
    "primary" : $primary,
    "gray-light": $dh-gray-light
    
);

$custom-colors: (
    "icon-background" : rgba(45, 49, 96,0.15)
    
);

$theme-colors: map-merge($theme-colors, $custom-colors);
/* Import Bootstrap */

@import "../css/bootstrap/scss/bootstrap";

html{
    max-height: 100%;
}

/******* HEADER ********/
.top-info-bar{
    font-size: 0.8rem;
    border-bottom: 1px solid var(--bs-gray-light);

    &__list{
        padding:0;
        margin:0;
        list-style-type: none;
        display:inline-flex;
        
        li{
            display:flex;
            align-items: center;
            margin:0 10px;
        }

        .fa{
            background-color : var(--bs-icon-background);
           
            display:inline-flex;
            align-items: center;
            justify-content: center;
            margin-right:5px;
            height:30px;
            width:30px;
            
        }
        a{
            text-decoration: none;
        }

    }
}

/* Main Menu */

.main-navigation{
    font-weight: bold;
    

    .current-page-item .current-menu-item{
        background-color: rgb(45, 49, 96);
        
        /*  color: #e5e5e5; */ 
        
    }

    a{
        color: #2d3160;
        padding: 0.6rem 1.0rem;
        text-transform: uppercase;
    }
    a:hover{
        color: #242750;
    }
}

/* Site main */

.site-main{
    
}

/* Footer */

.start-footer{
    
}

.end-footer{
    background-color: #090909;
    color: #aaa;

    a{
        color:#aaa;
    }
    
    .fa{
        padding:0.5rem 0.5rem;
    }
}

.cart-item-title{
    color:#333;
}

/* Page title styles */

.site-main{
    
    .page-title{
        text-align: center;
        font-weight: bolder;
    }
    .wc-proceed-to-checkout{
        a{
            .checkout-button{
                background-color: #2d3160;
                color:#e6e6e6;
            }
            .button{
                background-color: #2d3160;
                color:#e6e6e6;
            }
        }
    }
    
}
/* Cart Page title */
article{
    .entry-title{
        text-align: center;
        font-weight: bolder;
    }
}

/* Single product  */


.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt {
    background-color: #2d3160;
    color: white;
    -webkit-font-smoothing: antialiased;
}
.woocommerce div.product span.price, .woocommerce div.product p.price {
    color: #2d3160;
    font-size: 1.25em;
}



.woocommerce div.product .product_title {
    font-weight: bold;
    font-size: 1.5em;
    text-transform:lowercase;
    text-transform:capitalize;
}

.posted_in{
    a{
        color:#2d3160;
    }
}
/* On sale element */
.woocommerce span.onsale {
    padding: 0em 1em;
    font-size: 1em;
    font-weight: 700;
    top: -0.5em;
    left: -0.5em;
    margin: 0;
    border-radius: 0; 
    background-color: #242750;
    color: white;
    font-size: 0.657em;
    z-index: 9;
}

/* Product title in loop */
.woocommerce ul.products li.product h3, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product .woocommerce-loop-category__title {
    padding: 0.5em 0;
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    color:#090909;
    text-transform:lowercase;
    text-transform:capitalize;
}

/* Product price in loop */
.woocommerce ul.products li.product .price {
    color: #2d3160;
    display: block;
    font-weight: normal;
    margin-bottom: 0.5em;
    font-size: 0.857em;
}

/* Add to cart button */

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit {
  
    color: #e6e6e6;
    background-color: #2d3160;
 
}


a.text-decoration-none.cart-item-title a.text-decoration-none.cart-item-title:visited a.text-decoration-none.cart-item-title:hover  {
    color:#2d3160;
}


/* MY account nav */

.woocommerce-account .woocommerce-MyAccount-navigation {
    margin:0;
    width:100%;
    float:none;

    ul{
        border-bottom: 2px solid #2d3160;
        margin:0;
        padding-left: 0;
        padding-bottom: 0.5rem;
        overflow-x:auto;
        max-width: 100%;
        display:flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        justify-items: start;
        justify-content: start;
        justify-content: space-between;
        list-style-type: none;
    }

    li{
        margin:0;
        
        padding-right: 1rem;
        a, a:visited {
            text-decoration: none;
            color:#2d3160;
            font-weight: 600;
            
        }
        a:hover, a:active{
            color:#242750;
        }
        
    }   
    /* float: left;
    width: 30%; */
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding-top: 1rem;
    width:100%;
    float:none;
    margin:5px auto;
    margin-bottom: 2rem;
    a, a:visited {
        text-decoration: none;
        color:#2d3160;
        font-weight: 500;
        
    }
    a:hover, a:active{
        color:#242750;
    }
    
}

.glass{
    backdrop-filter: blur(14px) saturate(152%);
    -webkit-backdrop-filter: blur(14px) saturate(152%);
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 0px;
    // border: 1px solid rgba(255, 255, 255, 0.125);
}

.woocommerce ul.products li.product a img{
    width: 100% !important;
  }
  
  @media only screen and (max-width: 480px) {
    img.custom-logo{
      width: 80%;
    }
  }

.woocommerce ul.products li.product a img {
    margin: 0 auto;
}
ul.products.columns-4 {
    text-align: center;
}
body{
    list-style-type: none;
    text-decoration: none;
    a{
        text-decoration: none;
    }
}
svg.flutter-wave.mt-4 {
    margin-left: -10px;
}
/*
* Landing Page Styles
*/
.big-wrapper{
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f1f8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lp_container{
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}
// header .lp_container{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
.showcase-area .lp_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.big-title{
    font-size: 1.4rem;
    color: #001;
    text-transform: capitalize;
}
.lp_text{
    color: #001;
    font-size: 1.3rem;
    margin: 1.8rem 0 2.2rem;
    max-width: 600px;
    line-height: 2.3;
}
.lp_btn{
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.2);
}
.right img{
    max-width: 280px;
}
.lp_doors{
    width: 80%;
    transform: translate(65%, 5px);
}
.lp_content .lp_imgBox{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.lp_content .lp_imgBox img{
    max-width: 200px;
}
.lp_thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-55%, 20px);
    // max-width: 40px;
    // margin: 0 auto;
    display: flex;
}
.lp_thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.lp_thumb li:hover{
    transform: translateY(-15px);
}
.lp_thumb li img{
    max-width: 50px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2d3160;
    clip-path: circle(600px at right 900px);
}
@media screen and (max-width: 875px) {
    .showcase-area .lp_container{
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 2rem; 
    }
    .showcase-area{
        padding: 2.5rem 0;
        max-width: 700px;
        margin: 0 auto;
    }
    .big-title{
        font-size: 1.1rem;
    }
    .lp_text{
        font-size: .95rem;
        margin: 1.4rem 0 1.5rem;
    }
    .lp_doors{
        width: 100%;
        transform: translate(35%);
    }
    .lp_thumb {
        transform: translate(-45%, 40px);
        width: 80%;
    }
    .circle{
        display: none;
    }
}
@media screen and (max-width: 475px) {
    .lp_container{
        padding: 0 1.5rem;
    }
    .big-title{
        font-size: 1.0rem;
    }
    .lp_text{
        margin: 1.1rem 0 1.5rem;
    }
    .showcase-area .lp_btn{
        font-size: 0.8rem;
    }
    .lp_doors{
        width: 100%;
        transform: translate(5%);
    }
    .lp_thumb {
        // width: % !important;
        transform: translate(-95%, 60px);
        margin-top: 4px;
        position: relative;
    }
}

/*
* Landing Page Styles
*/